@tailwind base;
@tailwind components;
@tailwind utilities;


.darkModeBackground {
    background-image: url('../../public/assets/nighty-city.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.lightModeBackground{
    background-image: url('../../public/assets/day-city.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.darkModeInput{
    background-color: rgb(203 213 225);
}
.lightModeInput{
    background-color: rgb(241 245 249);
}
.darkTextColor{
    color: rgb(226 232 240);
}
.lightTextColor{
    color: rgb(31 41 55);
}
.darkBackgroundCard{
    background-color: rgb(107 114 128); 
    border-color: rgb(75 85 99);
}
.lightBackgroundCard{
    background-color: rgb(148 163 184);
    border-color: rgb(100 116 139);
}

.arrowUp{
    filter: opacity(0.4) drop-shadow(0 0 0 rgb(2, 255, 2)) drop-shadow(0 0 0 rgb(1, 255, 1));
}
.arrowDown{
    filter: opacity(0.4) drop-shadow(0 0 0 red) drop-shadow(0 0 0 red);
}